<%- include("header"); -%>

<h1>About me</h1>

<p class="about-p">
Programming has been so fun and challenging for me. I actually love the fact that I 
get to learn new things that excites me on a daily bases. It gives me headache a lot
of time whwnever I get stuck, but at the end of the day, I get excited and fulfilled
whenever I solve the challege
</p>

<%- include("footer"); -%>