<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TODOLIST</title>
</head>
<body>
    <h1>
        Today is wednestday
    </h1>
    <p>
        We have two more days to the weekend
    </p>

    
</body>
</html>

<!-- 
    this is for my ejs
    <% if (dayOfWeek === "Wednesday"){ %>
        <h1 style="color: red"> Today is <%= dayOfWeek %> toDo list</h1>
    <% } else{ %>
        <h1 style="color:blue"> Today is <%= dayOfWeek %> toDo list</h1>
    <% } %>
 -->